/* CONTACT */
.contact {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  
  .contact {
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    position: relative;
  }
  
  .contact section {
    position: relative;
    z-index: 3;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  .contact .container {
    max-width: 1080px;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
  }
.contact{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .contact .content{
    max-width: 800px;
    text-align: center;
  }
  .contact .content h2{
    font-size: 40px;
    font-weight: 500;
    color: #000000;
  }
  .contact .content p{
    font-size: 20px;
    opacity: 0.8;
    color: #000000;
  }
  .container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }
  .container .contactInfo{
    width: 50%;
    display: flex;
    flex-direction: column;
  }
  .container .contactInfo .box{ 
    position: relative;
    padding: 20px 0;
    display: flex;
  }
  .container .contactInfo .box .icon{
    min-width: 60px;
    height: 60px;
    background: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
  }
  .container .contactInfo .box .text{
    display: flex;
    margin-left:20px ;
    font-size: 16px;
    color: #000000;
    flex-direction: column;
    font-weight: 300;
  }
  .container .contactInfo .box .text h3{
    font-weight: 500;
    color: #00bcd4;
  }
  .contactForm{
    width: 40%;
    padding: 40px;
    border-radius: 20px;
    background: #1b2223;
  }
  .contactForm h2{
    font-size: 30px;
    color: #ffffff;
    font-weight: 500;
  }
  .contactForm .inputBox{
    position: relative;
    width: 100%;
    margin-top: 10px;
  }
  .contactForm .inputBox input,textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 20x solid #333;
    outline: none;
    resize: none;
    border-radius: 10px;
  }
  .contactForm .inputBox textarea{
    min-height: 50px;
  }
 
  .contactForm .inputBox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
  }
  .contactForm .inputBox input:focus ~ span,
  .contactForm .inputBox input:valid ~ span,
  .contactForm .inputBox textarea:focus ~ span,
  .contactForm .inputBox textarea:valid ~ span{
  color: #fafafa;
  font-size: 12px;
  transform: translateY(-22px);
  }
  .contactForm .inputBox textarea:focus ~ span,
  .contactForm .inputBox textarea:valid ~ span
  {
    transform: translateY(-32px);
  }
  .contactForm .inputBox input[type="submit"]
  {
  width: 100px;
  background: #00bcd4;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
  }
  .inputBox_btn {
    background: #0EF6CC;
  }
  @media(max-width:991px){
    .contact{
      padding: 50px;
    }
    .container{
      flex-direction: column;
    }
    .container .contactInfo{
      margin-bottom:40px ;
    }
    .container .contactInfo,
    .contactForm{
      width: 100%;
    }
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
  
  
  @media (max-width: 991px) {
    section {
      padding-top: 50px;
      padding-bottom: 50px;
    }
  
    .row {
      flex-direction: column;
    }
  
    
  }
  
  @media (max-width:450px){
  .contact{
    padding: 20px;
  }
  }
  