/* ADVANTAGES */
.advantages{
    width: 100%;
    background-color: #3dd4c3; 
    color: white;
    margin-top: 10px;
    font-family: "poppins";
}
.advantages>div{
    width: 90%;
    margin:40px auto 0 auto;
}
.advantages .title{
    font-size: 45px;
    text-align: center; 
    padding-bottom: 10px;
}
.advantages .info{
    display: flex;
    /* justify-content:space-around ; */
    width:100% ;
    font-style: italic;
}
.advantages .info p{
    padding-left: 10px ;
  border-left: 1px solid white;
  border-right: 1px solid white;
}
/* RULES */
.rules{
    margin-top:40px ;
    width: 100%;
}
.rules>div:nth-child(2){
    width: 95%;
 margin: 20px auto;
    border: 1px solid hsla(0, 0%, 65%, 0.441);
 border-radius: 10px;
}
.rulesTitle{
    font-size: 45px;
    text-align: center;
}
.rulesInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}
.rulesBtns{
    display: flex;
    justify-content: center;
}
.rulesBtns button{
    border: 0px;
    transition: 0.3s;
    font-size: 25px;
    border-radius: 30px;
   padding: 25px 90px;
   margin: 0 20px;
}
.rulesBtns button:hover{
    background-color: #3dd4c3;
    color: white;
}
.activeRulesBtn{
    background-color: #3dd4c3;
    color: white;
}
/* HEADER */
.Header{
    background-color: #a5e1ed;
    width: 100%;
    margin: auto;
    margin-bottom: 80px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.Header img{
    width: 100%;
    position: relative;
}
.Header >div{
    position: absolute;
    right: 60px;
    top: 70px;
}
.Header hr{
    color: #fff;
}
.Header >div b:nth-child(1){
    font-size: 35px;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
    color: #fff;
}
.Header >div b:nth-child(3){
    font-size: 25px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
    color: #f5f5f5;
}
.Header >div p{
    color: #fff;
}
/* HEADER MEDIA */
@media(max-width:1125px){
    .Header >div b:nth-child(1){
        font-size: 25px;
    }
    .Header >div b:nth-child(3){
        font-size: 20px;}
        .Header >div p{
            color: #fff;
            font-size: 15px;
        }
    .Header >div{
        right: 30px;
    }
}
@media(max-width:880px){
    .Header >div b:nth-child(1){
        font-size: 23px;
    }
    .Header >div b:nth-child(3){
        font-size: 18px;
    }
        .Header >div p{
            font-size: 15px;
        }
    .Header >div{
        right: 20px;
    }
    .Header{
        margin-bottom: 0;
    }
}
@media(max-width:750px){
    .advantages .infoContainersIcon{
        width: 100px;
        height: 110px;}
    .rulesBtns button{
        padding: 20px 25px;
        font-size: 15px;
    }
    .Header >div b:nth-child(1){
        font-size: 20px;
    }
    .Header >div b:nth-child(3){
        font-size: 15px;
    }
        .Header >div p{
            font-size: 12px;
        }
    .Header >div{
        right: 10px;
    }

}
@media(max-width:700px){
    .advantages{
        padding-top:5px ;
    }
    .advantages .info{
       flex-wrap: wrap;
    }
    .advantages .title{
        font-size: 30px;
    }
}
@media (max-width:500px){
    .Header >div b:nth-child(1){
        font-size: 15px;
    }
    .Header >div b:nth-child(3){
        font-size: 11px;}
        .Header >div p{
            color: #fff;
            font-size: 9px;
        }
    .Header >div{
        top: 10px;
        right: 5px;
    }
}
